.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.underline {
  --height: 0.2rem;
  margin-top: 2rem;
  height: var(--height);
  background-color: black;
  border-radius: calc(--height / 2);
  animation-name: grow;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    width: 0%;
  }

  to {
    width: calc(100% / var(--goldenratio));
  }
}
