.main {
  margin-top: 8rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.description {
  font-size: 2rem;
}

.title,
.description {
  text-align: left;
}

.linkList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkList li {
  padding: 0;
  margin: 1rem 0;
  font-size: 2rem;
}

.photo {
  width: 100%;
}
